* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #5a1a01;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #8b2e0d;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd6a0;
}

.container {
    padding: 20px;
}

img {
    margin: 10px;
    border-radius: 5px;
}

footer {
    background-color: #5a1a01;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 15rem;
}

.first{ 
    height: 400px;
    width: 400px;
    margin-right: 1rem;
}

.second { 
    height: 400px;
    width: 400px;
    margin-left: 1rem;
}

.video1{ 
    height: 350px;
    width: 300px;
    margin-top: 3rem;
    margin-left: 20rem;
   float: right;
   margin-inline: inherit;
   
}